@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;0,900;1,500&display=swap");
@import './scss/_respond.scss';

body {
  background-color: #181B48;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.sl-header {
  background: linear-gradient(to bottom, rgba(0,0,0,0) 20%, #181B48), url('./images/header2.jpg') no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;

  &::before {
    background-color: #111;
    content: '';
    height: 100px;
    left: 0;
    opacity: 0.2;
    position: absolute;
    width: 100%;
  }

  &.-homepage {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 20%, #181B48), url('./images/header.jpg');
  }
}

.sl-nav-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  padding-left: 108px;
  position: absolute;
  text-decoration: none;
  top: 42px;

  &::before {
    background-image: url('./images/arrow-left.svg');
    background-size: cover;
    content: '';
    height: 14px;
    left: 66px;
    position: absolute;
    top: 2px;
    width: 28px;
  }

  @include respond(mobile-small) {
    padding-left: 60px;

    &::before {
      left: 20px;
    }
  }

  @include respond(mobile-large desktop) {
    font-size: 26px;
    top: 32px;

    &::before {
      top: 8px;
    }
  }
}

.sl-logo {
  background-image: url('./images/logo.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 108px;
  left: 50%;
  position: absolute;
  top: 46px;
  transform: translateX(-50%);
  width: 96px;
  z-index: 10;

  &.-right {
    height: 54px;
    left: auto;
    right: 8px;
    top: 72px;
    width: 48px;

    @include respond(mobile-large desktop) {
      height: 108px;
      right: 60px;
      top: 46px;
      width: 96px;
    }
  }
}

.sl-header-content {
  padding: 300px 20px;
  position: relative;

  @include respond(mobile-large) {
    padding: 300px 100px;
  }

  @include respond(desktop) {
    padding: 350px 118px;
  }

  > .title {
    color: #fff;
    font-size: 22px;
    font-weight: 800;

    @include respond(mobile-large) {
      font-size: 44px;
    }

    @include respond(desktop-small) {
      font-size: 56px;
    }

    @include respond(desktop-medium desktop-large) {
      font-size: 76px;
      max-width: 900px;
    }

    &.-center {
      max-width: none;
      text-align: center;
    }
  }
}

.sl-subtitle {
  color: #C0C0C0;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 30px;
  max-width: 594px;

  @include respond(desktop) {
    font-size: 17px;
  }

  &.-center {
    margin: 0 auto;
    max-width: 860px;
  }

  &.-indent-top {
    margin-top: 20px;
  }

  &.-non-home {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    max-width: none;
    text-align: center;

    @include respond(desktop) {
      font-size: 26px;
    }
  }
}

.btn-container {
  text-align: center;
}

.sl-btn {
  appearance: none;
  background-image: linear-gradient(to right, #8E2DE2 0%, #4A00E0 100%);
  border-radius: 50px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  outline: none;
  padding: 20px 46px;
  text-align: center;

  @include respond(mobile-large desktop) {
    margin-top: 50px;
  }

  @include respond(desktop) {
    font-size: 20px;
    padding: 30px 80px;
  }

  &.-indent-top {
    margin-top: 50px;
  }

  &.-small {
    padding: 15px 40px;
  }
}

.sl-title {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 30px;

  @include respond(desktop) {
    font-size: 54px;
  }

  &.-indent-left {
    padding-left: 20px;
  }

  &.-left {
    float: none;
    text-align: center;

    @include respond(mobile-large desktop) {
      float: left;
    }
  }

  &.-center {
    text-align: center;
  }

}

.sl-content-wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.sl-main-content {
  background-color: #1C2056;
  margin-top: -180px;
  padding: 40px 20px;
  position: relative;

  @include respond(mobile-large) {
    padding: 128px 100px;
  }

  @include respond(desktop) {
    padding: 128px 108px;
  }

  &.-launch-page {
    @include respond(mobile-large) {
      padding-top: 100px;
    }

    @include respond(desktop) {
      padding-top: 100px;
    }
  }
}

.sl-shifter {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.sl-shifter-item {
  outline: 0;
  padding: 0 10px;
  width: 100%;
}

.sl-arrows-container {
  float: right;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-right: 20px;
  text-align: center;

  @include respond(mobile-small mobile-medium) {
    display: none;
  }

  > .arrow {
    display: inline-block;
    height: 28px;
    width: 56px;

    &.-left {
      background-image: url('./images/arrow-left.svg');
      margin-right: 46px;

      &:hover {
        background-image: url('./images/arrow-left-hover.svg');
        cursor: pointer;
      }
    }

    &.-right {
      background-image: url('./images/arrow-right.svg');

      &:hover {
        background-image: url('./images/arrow-right-hover.svg');
        cursor: pointer;
      }
    }
  }
}

.sl-image-container {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 580px;

  &:before {
    content: '';
    display: block;
    left: 0;
    padding-top: 56%;
    position: relative;
    top: 0;
  }

  &.-events {
    width: 380px;

    &:before {
      padding-top: 60%;
    }
  }

  .image {
    left: 0;
    position: absolute;
    top: 0;
    user-select: none;
    width: 100%;
  }
}

.sl-link {
  color: #fff;
  text-decoration: none;
}

.sl-chip {
  background: #4A00E0;
  border-radius: 50px;
  color: #fff;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 20px;
  max-width: none;
  padding: 10px 15px;
  text-align: center;

  @include respond(mobile-large desktop-small) {
    font-size: 12px;
    margin-bottom: 30px;
    max-width: 60%;
    min-width: auto;
  }

  @include respond(desktop-medium desktop-large) {
    font-size: 18px;
    margin-bottom: 30px;
    max-width: 60%;
    min-width: 224px;
  }

  &.-features {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-top: 0;
    max-width: none;
    text-transform: uppercase;
    width: auto;
  }

  &.-last-feature {
    margin-bottom: 30px;
    margin-top: 0;
  }

  &.-center-offset {
    left: 50%;
    margin-top: 0;
    padding: 4px 0;
    position: absolute;
    top: -49px;
    transform: translateX(-50%);
    width: 164px;

    @include respond(desktop-small desktop-medium) {
      font-size: 14px;
      margin-bottom: 30px;
      min-width: auto;
      padding: 10px 15px;
      top: -56px;
      width: 190px;
    }

    @include respond(desktop-large) {
      font-size: 18px;
      padding: 10px 30px;
      top: -60px;
      width: auto;
    }
  }

  &.-gradient {
    background-image: linear-gradient(to right, #8E2DE2 0%, #4A00E0 100%);
  }
}

.sl-events-title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  padding: 0 10px;
  position: relative;

  @include respond(desktop) {
    font-size: 26px;
  }

  &.-center {
    text-align: center;
  }

  &.-center-offset {
    margin-bottom: 38px;
    margin-top: 36px;
    text-align: center;
  }
}

.sl-upcoming-container {
  margin-top: 100px;
}

.sl-upcoming-events {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 0 10px;

  > .event {
    position: relative;
    width: 100%;

    @include respond(mobile-medium mobile-large desktop) {
      width: calc(50% - 20px);
    }
  }
}

.sl-footer {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 96px 55px;

  @include respond(mobile-large desktop) {
    padding: 96px 128px;
  }

  > .logo-container {
    position: relative;

    > .logo {
      background-image: url('./images/logo.svg');
      background-repeat: no-repeat;
      background-size: cover;
      bottom: -18px;
      height: 60px;
      left: 50%;
      position: absolute;
      width: 53px;
      z-index: 10;
    }
  }
}

.sl-timer {
  background-color: #4A00E0;
  color: #fff;
  height: 100px;
  margin: 40px auto;
  position: relative;
  text-align: center;
  width: 280px;

  @include respond(desktop) {
    height: 182px;
    width: 780px;
  }

  > .time {
    font-family: helvetica, monospace;
    font-size: 26px;
    font-weight: 800;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;

    @include respond(desktop) {
      font-size: 78px;
    }

  }
}
.sl-player-container {
  margin-bottom: 100px;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 59%;
  position: relative;
  width: 1180px;

  > div {
    position: absolute;
  }
}

.sl-mission-details {
  text-align: center;

  > .mission-overview {
    margin-bottom: 20px;
  }

  > .mission-description {
    margin-bottom: 50px;

    @include respond(mobile-large desktop) {
      margin-bottom: 100px;
    }
  }

  > .rocket-overview {
  }

  .detail {
    margin-bottom: 10px;
  }
}

.sl-map-container {
  margin: 0 auto;
  max-width: 1180px;
  position: relative;
}

.sl-warning {
  font-size: 40px;
  font-weight: 700;
  margin: 100px auto;
  text-align: center;
}

.rec-carousel-item:focus {
  outline: none;
}

button.rec-dot {
  box-shadow: 0 0 1px 3px #fff;

  @include respond(mobile-large desktop) {
    display: none;
  }

  &:focus {
    box-shadow: 0 0 1px 3px #fff;
  }
}

button.rec-dot_active {
  background-color: #fff;
}

.sl-map-container {
  margin-top: 100px;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 42%;
  position: relative;
  width: 1180px;

  > div {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.sl-launch-completed {
  font-size: 50px;
  font-weight: 700;
  margin-top: 40px;
  text-align: center;
}